package view

import "github.com/UchaBokeria/goyard/examples/simple/web/view/components"

templ Index() {
    <!DOCTYPE html>
    <html>
        <head>
			<title>Hello, World!</title>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			@components.Meta()
			@components.Plugins()
		</head>
        <body>
            { children... }
        </body>
    </html>
}
