package ui

templ Input(Type string, Value string, Name string, Placeholder string) {
    <div class="w-full">
        <input  type={Type} value={Value} name={Name} placeholder={Placeholder} 
                class="p-2 rounded-md border border-gray-300" />
    </div>
}
